@import "../base/variables";

.button {
  font-family: $fontBase;
  overflow: hidden;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 53px;
  min-width: 170px;
  font-weight: 500;
  letter-spacing: 0.055em;
  height: 51px;
  border-radius: 5px;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  appearance: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  font-size: 18px;
  line-height: 27px;
  color: $white;
  background-color: $baseColor;
  margin: 20px 0;

  @include mobile {
    padding-left: 24px;
    padding-right: 24px;
  }

  &.button-icon {
    display: inline-flex;
    padding: 13px 19px;
    min-width: 62px;
    align-items: center;
    margin: 0 20px 0 0;

    .icon {
      margin: 0;
    }
  }

  &.theme-main {

    &:active, &:focus {
      background-color: $baseColorHover;
    }

    @include desktop {
      &:hover {
        background-color: $baseColorHover;
        box-shadow: 0px 4px 30px rgba(230, 33, 76, 0.4);
      }
    }
    @include mobile {
      font-weight: 400;
      letter-spacing: 0.055em;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &.theme-whatsapp {
    background-color: $colorWhatsapp;

    @include desktop {
      &:hover {
        background-color: $colorWhatsappHover;
        //box-shadow: 0px 4px 30px rgba(25, 199, 90, 0.4);
      }
    }

    &:active, &:focus {
      background-color: $colorWhatsappHover;
    }
  }

  &.theme-telegram {
    background-color: $colorTelegram;

    @include desktop {
      &:hover {
        background-color: $colorTelegramHover;
        //box-shadow:  0 4px 30px rgb(24,138,192, 0.4);
      }
    }

    &:active, &:focus {
      background-color: $colorTelegramHover;
    }
  }

  &.theme-submit {
    background-color: $white;
    color: $baseColor;
    border: 1px solid transparent;

    @include desktop {
      &:hover {
        background-color: $baseColor;
        border: 1px solid $white;
        color: $white;
      }
    }

    &:active, &:focus {
      background-color: $baseColor;
      border: 1px solid $white;
      color: $white;
    }
  }

  &.accent-font {
    font-family: $fontAccent;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
  }

  &.s-padding {
    padding: 13px 25px 13px 16px;
  }

  &.inline {
    display: inline-flex;
  }

  .icon {
    width: 24px;
    height: 24px;
    margin-right: 14px;
    flex-shrink: 0;
  }

  &.width-fit {
    width: fit-content;
  }

  &.no-shadow {
    box-shadow: none !important;
  }
}
