@import "extends";
@import "variables";

:root {
  --viewport-height: 100%;
}

h1, .h1 {
  @extend .h1-pages;

  @include mobile {
    font-size: 40px;
    line-height: 50px;
  }
}

h2, .h2 {
  @extend .h2-pages;

  @include mobile {
    font-size: 24px;
    line-height: 30px;
  }
}

h3, .h3 {
  @extend .h3-pages;

  @include mobile {
    font-size: 18px;
    line-height: 22px;
  }

}

h4, .h4 {
  @extend .h4-pages;

  @include mobile {
    font-size: 16px;
    line-height: 20px;
  }
}

h5, .h5 {
  @extend .h5-pages;

  @include mobile {
    font-size: 14px;
    line-height: 18px;
  }
}

p {
  @extend .body-16;

  @include mobile {
    font-size: 14px;
    line-height: 22px;
    margin: 15px 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


a, .link {
  text-decoration: none;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.section {
  display: block;
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 40px 0;
  background-color: transparent;
  overflow: hidden;
  flex: 1 0 auto;

  @include mobile {
    padding: 25px 0;
  }

  &.gray {
    background-color: #F0F0F0;
  }

  &.overflow-visible {
    overflow: visible;
  }

  &.transparent {
    background-color: transparent;
  }

  &.small-padding {
    padding: 20px 0;
  }

  &.featured-section {
    max-width: 1300px;
    margin: 0 auto;
  }

  &.fullscreen {
    height: calc(100% - 82px);

    @include mobile {
      height: calc(100% - 62px);
    }
  }

  &.blog-inside-theme {
    padding-left: 75px;
    padding-right: 75px;
    max-width: 1290px;
    margin: 0 auto;

    @include mobile {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.price-text {
  @extend .extra-body-24;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: $baseColor;
  text-transform: uppercase;
  margin-bottom: 20px;

  @include mobile {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
  }
}

.heading-with-link {
  display: flex;
  margin-bottom: 25px;

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
  }
}

.see-all {
  display: inline-flex;
  position: relative;
  z-index: 5;
  align-items: center;
  font-family: $fontBase;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.055em;
  color: $baseColor;
  text-decoration: none;
  margin: 0 25px 10px;

  @include desktop {
    &:hover {
      .text {
        text-decoration: underline;
        color: $baseColorHover
      }
    }
  }

  @include mobile {
    margin-left: 0;
    margin-top: 0;
  }

  .icon {
    background-image: url('../img/icon/see_all.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 10px;
    height: 10px;
    margin-left: 10px;
  }
}


.showmore-block {
  .showmore-content {
    display: none;
  }

  .notshowed {
    display: inline;
  }

  .showed {
    display: none;
  }

  &.showed {
    .notshowed {
      display: none;
    }

    .showed {
      display: inline;
    }

    .showmore-content {
      display: block;
    }
  }
}

.video-block {
  display: block;
  position: relative;
  z-index: 5;
  overflow: hidden;
  max-width: 770px;
  margin: 30px auto;
  background-color: $white;

  @include mobile {
    margin: 20px auto;
  }

  &:before {
    content: '';
    padding-top: 56.49%;
    display: block;
  }

  iframe {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    width: 100%;
  }
}

.title-404 {
  @extend .h1-pages;
  font-size: 200px;
  font-weight: 500;
  line-height: 243px;

  @include mobile {
    font-size: 150px;
    line-height: 182px;
  }
}

.subtitle-404 {
  @extend .h1-pages;
  font-weight: 700;
  font-size: 70px;
  line-height: 87px;
  margin-top: -15px;
  text-align: center;

  @include mobile {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 10px;
  }
}

.description-404 {
  @extend .body-16;
  max-width: 414px;
  text-align: center;

  @include mobile {
    max-width: 100%;
  }
}


[data-small-mobile-text] {

  .showmore-mobile {
    display: none;
  }

  @include mobile {
    .showmore-mobile {
      display: block;

      .notshowed {
        display: block;
      }

      .showed {
        display: none;
      }
    }

    &.showed {
      p {
        &:not(:first-child) {
          display: block;
        }

        .hidden-mobile-text {
          display: inline;
        }
      }

      .notshowed {
        display: none;
      }

      .showed {
        display: block;
      }
    }

    p {
      &:not(:first-child) {
        display: none;
      }

      .hidden-mobile-text {
        display: none;
      }
    }
  }
}

.community-map-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    padding-top: 105.26%;

    @include mobile {
      padding-top: 68.65%;
    }
  }
}

.small-width-text {
  @include desktop {
    max-width: 470px;
  }
}

.table-wrapper {
  border: 1px solid rgba(16, 43, 112, 0.1);
  border-radius: 5px;
  overflow: hidden;

  table.table {
    width: 100%;
    text-align: center;
    border-width: 0;
    border-collapse: collapse;

    thead {
      @extend .body-16;
      font-weight: 700;
      margin: 0;
      background-color: $baseColor;
      padding: 15px 0;
      color: $white;
      line-height: 20px;

      th {
        padding: 15px 15px;
        white-space: nowrap;
      }
    }

    tbody {
      @extend .body-16;
      font-weight: 400;
      margin: 0;

      tr {
        &:nth-child(even) {
          background-color: $white;
        }

        &:nth-child(odd) {
          background-color: $colorBG;
        }
      }
    }

    td, th {
      padding: 15px 0;

      &.percent {
        color: $baseColor;
        font-weight: 700;
      }
    }
  }
}

.helper-text {
  @extend .body-16;
  margin: 20px 0;
  font-weight: 400;
  font-size: 14px;
  color: $colorGray;
  text-align: center;
}
