<% var data = {
title: "Developer Site"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="section breadcrumbs">
    <div class="container">
        <a href="#" class="link">Home</a>
        <div class="link active">Dubai apartments for sale</div>

    </div>
</section>

<section class="section no-padding-top">
    <div class="container">
        <div class="flex-grid tablet-wrap">
            <div class="col w-70-desktop w-100-mobile flex-direction-column">
                <div class="small-width-text">
                    <h1 class="h1">Dubai Real Estarte Projects </h1>
                    <div class="small-margin-text showmore-block" data-small-mobile-text>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget molestie lectus, sed
                            fermentum odio. Praesent rhoncus scelerisque maximus. Nam maximus erat at velit lobortis,
                            quis vulputate dolor rhoncus. Vestibulum nec consectetur elit. In in risus eros. Aenean a risus dui.
                            In aliquam, leo ut vehicula <span class="hidden-mobile-text">convallis, diam lorem feugiat nisl,
                            et rutrum nisl neque vel felis.
                        Duis quis volutpat neque, ut mattis tortor. Mauris nisi neque, mattis a lacus nec, tempor bibendum tortor.
                        Donec eget lectus ultrices, suscipit sapien in, sagittis elit. Vestibulum ante ipsum primis in faucibus orci
                        luctus et ultrices posuere cubilia curae; Proin vitae faucibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Morbi diam elit, porta at ipsum ac, semper commodo neque. Cras tincidunt volutpat tempor.</span></p>

                        <p>Morbi suscipit facilisis sem et imperdiet. Nam ac mi et elit lobortis fermentum a in leo.
                            Morbi venenatis dolor non erat pulvinar, ut mollis metus elementum. Nulla facilisi. Mauris gravida, mi eu.
                        </p>
                        <a href="" class="link showmore-button showmore-mobile">
                            <span class="showed">Show less</span>
                            <span class="notshowed">Read more</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col w-30-desktop flex-direction-column justify-content-center">
                <div class="community-map-image lozad" data-background="./img/photos/map_first.jpg"></div>
            </div>
        </div>
    </div>
</section>


<section class="section no-padding-top">
    <div class="container">
        <h2 class="h2 margin-bottom-heading">Apartments</h2>

        <div class="developers-list">
            <div class="developer-card">
                <div class="info-block">
                    <div class="top-block">
                        <div class="name-with-location">
                            <div class="name">Peninsula Three</div>
                            <a href="#" class="location">Jumeirah Lakes Towers, Dubai, UAE</a>
                        </div>
                        <div class="payment">
                            <div class="from">Down payment</div>
                            <div class="value">from 50 000 AED</div>
                        </div>
                    </div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dsfdsfdsfdsf</p>

                    </div>

                    <div class="props">
                        <div class="h-props">
                            AVAILABLE PROPERTIES IN PINENSULLA
                        </div>
                        <div class="item">
                            <div class="name">1 bedroom appartment</div>
                            <div class="value">
                                from <span>4 mln AED</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="name">2 bedroom appartment</div>
                            <div class="value">
                                from <span>1,6 mln AED</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="name">3 bedroom appartment</div>
                            <div class="value">
                                from <span>500 000 AED</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="name">Penthouse</div>
                            <div class="value">
                                from <span>10 mln AED</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-block lozad" data-background="./img/photos/developer.png">
                    <div class="badges">
                        <div class="badge">HANDOVER 4Q 2025</div>
                    </div>
                </div>
            </div>
            <div class="developer-card">
                <div class="info-block">
                    <div class="top-block">
                        <div class="name-with-location">
                            <div class="name">MAG 5</div>
                            <a href="#" class="location">Jumeirah Lakes Towers, Dubai, UAE</a>
                        </div>
                        <div class="payment">
                            <div class="from">Down payment</div>
                            <div class="value">from 50 000 AED</div>
                        </div>
                    </div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dsfdsfdsfdsf</p>

                    </div>

                    <div class="props">
                        <div class="h-props">
                            AVAILABLE PROPERTIES IN PINENSULLA
                        </div>
                        <div class="item">
                            <div class="name">1 bedroom appartment</div>
                            <div class="value">
                                from <span>4 mln AED</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-block lozad" data-background="./img/photos/developer.png">
                    <div class="badges">
                        <div class="badge">HANDOVER 4Q 2025</div>
                    </div>
                </div>
            </div>
            <div class="developer-card">
                <div class="info-block">
                    <div class="top-block">
                        <div class="name-with-location">
                            <div class="name">Peninsula Three</div>
                            <a href="#" class="location">Jumeirah Lakes Towers, Dubai, UAE</a>
                        </div>
                        <div class="payment">
                            <div class="from">Down payment</div>
                            <div class="value">from 50 000 AED</div>
                        </div>
                    </div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dsfdsfdsfdsf</p>

                    </div>

                    <div class="props">
                        <div class="h-props">
                            AVAILABLE PROPERTIES IN PINENSULLA
                        </div>
                        <div class="item">
                            <div class="name">1 bedroom appartment</div>
                            <div class="value">
                                from <span>4 mln AED</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="name">2 bedroom appartment</div>
                            <div class="value">
                                from <span>1,6 mln AED</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="name">3 bedroom appartment</div>
                            <div class="value">
                                from <span>500 000 AED</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="name">Penthouse</div>
                            <div class="value">
                                from <span>10 mln AED</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-block lozad" data-background="./img/photos/developer.png">
                    <div class="badges">
                        <div class="badge">HANDOVER 4Q 2025</div>
                    </div>
                </div>
            </div>
            <div class="developer-card">
                <div class="info-block">
                    <div class="top-block">
                        <div class="name-with-location">
                            <div class="name">Peninsula Three</div>
                            <a href="#" class="location">Jumeirah Lakes Towers, Dubai, UAE</a>
                        </div>
                        <div class="payment">
                            <div class="from">Down payment</div>
                            <div class="value">from 50 000 AED</div>
                        </div>
                    </div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dsfdsfdsfdsf</p>

                    </div>

                    <div class="props">
                        <div class="h-props">
                            AVAILABLE PROPERTIES IN PINENSULLA
                        </div>
                        <div class="item">
                            <div class="name">1 bedroom appartment</div>
                            <div class="value">
                                from <span>4 mln AED</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="name">2 bedroom appartment</div>
                            <div class="value">
                                from <span>1,6 mln AED</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="name">3 bedroom appartment</div>
                            <div class="value">
                                from <span>500 000 AED</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="name">Penthouse</div>
                            <div class="value">
                                from <span>10 mln AED</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-block lozad" data-background="./img/photos/developer.png">
                    <div class="badges">
                        <div class="badge">HANDOVER 4Q 2025</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section no-padding-top padding-bottom-x2">
    <div class="container">
        <h2 class="h2 margin-bottom-heading">Villas</h2>

        <div class="developers-list">
            <div class="developer-card">
                <div class="info-block">
                    <div class="top-block">
                        <div class="name-with-location">
                            <a href="#" class="name">Peninsula Three</a>
                            <a href="#" class="location">Jumeirah Lakes Towers, Dubai, UAE</a>
                        </div>
                        <div class="payment">
                            <div class="from">Down payment</div>
                            <a href="#" class="value">from 50 000 AED</a>
                        </div>
                    </div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dsfdsfdsfdsf</p>

                    </div>

                    <div class="props">
                        <div class="h-props">
                            AVAILABLE PROPERTIES IN PINENSULLA
                        </div>
                        <a href="#" class="item">
                            <div class="name">1 bedroom appartment</div>
                            <div class="value">
                                from <span>4 mln AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">2 bedroom appartment</div>
                            <div class="value">
                                from <span>1,6 mln AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">3 bedroom appartment</div>
                            <div class="value">
                                from <span>500 000 AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">Penthouse</div>
                            <div class="value">
                                from <span>10 mln AED</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="image-block lozad" data-background="./img/photos/developer.png">
                    <div class="badges">
                        <div class="badge">HANDOVER 4Q 2025</div>
                    </div>
                </div>
            </div>
            <div class="developer-card">
                <div class="info-block">
                    <div class="top-block">
                        <div class="name-with-location">
                            <a href="#" class="name">MAG 5</a>
                            <a href="#" class="location">Jumeirah Lakes Towers, Dubai, UAE</a>
                        </div>
                        <div class="payment">
                            <div class="from">Down payment</div>
                            <a href="#" class="value">from 50 000 AED</a>
                        </div>
                    </div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dsfdsfdsfdsf</p>

                    </div>

                    <div class="props">
                        <div class="h-props">
                            AVAILABLE PROPERTIES IN PINENSULLA
                        </div>
                        <a href="#" class="item">
                            <div class="name">1 bedroom appartment</div>
                            <div class="value">
                                from <span>4 mln AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">2 bedroom appartment</div>
                            <div class="value">
                                from <span>1,6 mln AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">3 bedroom appartment</div>
                            <div class="value">
                                from <span>500 000 AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">Penthouse</div>
                            <div class="value">
                                from <span>10 mln AED</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="image-block lozad" data-background="./img/photos/developer.png">
                    <div class="badges">
                        <div class="badge">HANDOVER 4Q 2025</div>
                    </div>
                </div>
            </div>
            <div class="developer-card">
                <div class="info-block">
                    <div class="top-block">
                        <div class="name-with-location">
                            <a href="#" class="name">Peninsula Three</a>
                            <a href="#" class="location">Jumeirah Lakes Towers, Dubai, UAE</a>
                        </div>
                        <div class="payment">
                            <div class="from">Down payment</div>
                            <a href="#" class="value">from 50 000 AED</a>
                        </div>
                    </div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dsfdsfdsfdsf</p>

                    </div>

                    <div class="props">
                        <div class="h-props">
                            AVAILABLE PROPERTIES IN PINENSULLA
                        </div>
                        <a href="#" class="item">
                            <div class="name">1 bedroom appartment</div>
                            <div class="value">
                                from <span>4 mln AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">2 bedroom appartment</div>
                            <div class="value">
                                from <span>1,6 mln AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">3 bedroom appartment</div>
                            <div class="value">
                                from <span>500 000 AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">Penthouse</div>
                            <div class="value">
                                from <span>10 mln AED</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="image-block lozad" data-background="./img/photos/developer.png">
                    <div class="badges">
                        <div class="badge">HANDOVER 4Q 2025</div>
                    </div>
                </div>
            </div>
            <div class="developer-card">
                <div class="info-block">
                    <div class="top-block">
                        <div class="name-with-location">
                            <a href="#" class="name">Peninsula Three</a>
                            <a href="#" class="location">Jumeirah Lakes Towers, Dubai, UAE</a>
                        </div>
                        <div class="payment">
                            <div class="from">Down payment</div>
                            <a href="#" class="value">from 50 000 AED</a>
                        </div>
                    </div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dsfdsfdsfdsf</p>

                    </div>

                    <div class="props">
                        <div class="h-props">
                            AVAILABLE PROPERTIES IN PINENSULLA
                        </div>
                        <a href="#" class="item">
                            <div class="name">1 bedroom appartment</div>
                            <div class="value">
                                from <span>4 mln AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">2 bedroom appartment</div>
                            <div class="value">
                                from <span>1,6 mln AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">3 bedroom appartment</div>
                            <div class="value">
                                from <span>500 000 AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">Penthouse</div>
                            <div class="value">
                                from <span>10 mln AED</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="image-block lozad" data-background="./img/photos/developer.png">
                    <div class="badges">
                        <div class="badge">HANDOVER 4Q 2025</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>
