<% var data = {
title: "Developer Site"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="section breadcrumbs">
    <div class="container">
        <a href="#" class="link">Home</a>
        <div class="link active">Appartments</div>
    </div>
</section>


<section class="section no-padding-top padding-bottom-x2">
    <div class="container">
        <h1 class="h1 margin-bottom-heading">Appartments</h1>
        <div class="developers-list">
            <div class="developer-card">
                <div class="info-block">
                    <div class="top-block">
                        <div class="name-with-location">
                            <a href="#" class="name">Peninsula Three</a>
                            <a href="#" class="location">Jumeirah Lakes Towers, Dubai, UAE</a>
                        </div>
                        <div class="payment">
                            <div class="from">Down payment</div>
                            <a href="#" class="value">from 50 000 AED</a>
                        </div>
                    </div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dsfdsfdsfdsf</p>

                    </div>

                    <div class="props">
                        <div class="h-props">
                            AVAILABLE PROPERTIES IN PINENSULLA
                        </div>
                        <a href="#" class="item">
                            <div class="name">1 bedroom appartment</div>
                            <div class="value">
                                from <span>4 mln AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">2 bedroom appartment</div>
                            <div class="value">
                                from <span>1,6 mln AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">3 bedroom appartment</div>
                            <div class="value">
                                from <span>500 000 AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">Penthouse</div>
                            <div class="value">
                                from <span>10 mln AED</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="image-block lozad" data-background="./img/photos/developer.png">
                    <div class="badges">
                        <div class="badge">HANDOVER 4Q 2025</div>
                    </div>
                </div>
            </div>
            <div class="developer-card">
                <div class="info-block">
                    <div class="top-block">
                        <div class="name-with-location">
                            <a href="#" class="name">MAG 5</a>
                            <a href="#" class="location">Jumeirah Lakes Towers, Dubai, UAE</a>
                        </div>
                        <div class="payment">
                            <div class="from">Down payment</div>
                            <a href="#" class="value">from 50 000 AED</a>
                        </div>
                    </div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dsfdsfdsfdsf</p>

                    </div>

                    <div class="props">
                        <div class="h-props">
                            AVAILABLE PROPERTIES IN PINENSULLA
                        </div>
                        <a href="#" class="item">
                            <div class="name">1 bedroom appartment</div>
                            <div class="value">
                                from <span>4 mln AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">2 bedroom appartment</div>
                            <div class="value">
                                from <span>1,6 mln AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">3 bedroom appartment</div>
                            <div class="value">
                                from <span>500 000 AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">Penthouse</div>
                            <div class="value">
                                from <span>10 mln AED</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="image-block lozad" data-background="./img/photos/developer.png">
                    <div class="badges">
                        <div class="badge">HANDOVER 4Q 2025</div>
                    </div>
                </div>
            </div>
            <div class="developer-card">
                <div class="info-block">
                    <div class="top-block">
                        <div class="name-with-location">
                            <a href="#" class="name">Peninsula Three</a>
                            <a href="#" class="location">Jumeirah Lakes Towers, Dubai, UAE</a>
                        </div>
                        <div class="payment">
                            <div class="from">Down payment</div>
                            <a href="#" class="value">from 50 000 AED</a>
                        </div>
                    </div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dsfdsfdsfdsf</p>

                    </div>

                    <div class="props">
                        <div class="h-props">
                            AVAILABLE PROPERTIES IN PINENSULLA
                        </div>
                        <a href="#" class="item">
                            <div class="name">1 bedroom appartment</div>
                            <div class="value">
                                from <span>4 mln AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">2 bedroom appartment</div>
                            <div class="value">
                                from <span>1,6 mln AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">3 bedroom appartment</div>
                            <div class="value">
                                from <span>500 000 AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">Penthouse</div>
                            <div class="value">
                                from <span>10 mln AED</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="image-block lozad" data-background="./img/photos/developer.png">
                    <div class="badges">
                        <div class="badge">HANDOVER 4Q 2025</div>
                    </div>
                </div>
            </div>
            <div class="developer-card">
                <div class="info-block">
                    <div class="top-block">
                        <div class="name-with-location">
                            <a href="#" class="name">Peninsula Three</a>
                            <a href="#" class="location">Jumeirah Lakes Towers, Dubai, UAE</a>
                        </div>
                        <div class="payment">
                            <div class="from">Down payment</div>
                            <a href="#" class="value">from 50 000 AED</a>
                        </div>
                    </div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  dsfdsfdsfdsf</p>

                    </div>

                    <div class="props">
                        <div class="h-props">
                            AVAILABLE PROPERTIES IN PINENSULLA
                        </div>
                        <a href="#" class="item">
                            <div class="name">1 bedroom appartment</div>
                            <div class="value">
                                from <span>4 mln AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">2 bedroom appartment</div>
                            <div class="value">
                                from <span>1,6 mln AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">3 bedroom appartment</div>
                            <div class="value">
                                from <span>500 000 AED</span>
                            </div>
                        </a>
                        <a href="#" class="item">
                            <div class="name">Penthouse</div>
                            <div class="value">
                                from <span>10 mln AED</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="image-block lozad" data-background="./img/photos/developer.png">
                    <div class="badges">
                        <div class="badge">HANDOVER 4Q 2025</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-align-center">
            <a href="#" class="button theme-main inline no-margin-bottom">Download more</a>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
